.grid-container {
  display: grid;
  height: 100vh; /* Full viewport height */
  width: 100%; /* Full width */
  grid-template-rows: auto 1fr; /* Header height is auto, main content takes remaining space */
  grid-template-columns: 1fr; /* Single column layout */
}

.grid-header {
  height: 99px;
  padding: 0 10px;
  background: #24558d;
  display: flex;
  align-items: center;
}

.grid-content {
  height: calc(100vh - 99px);
}

.header-logo {
  width: 233px;
  height: 68px;
}
